$grey400: #BDBDBD;

// default styles -------------------

body {
  margin: 0 0 0 0;
  padding: 1px;
  font-family: sans-serif;
}

p {
  margin-top: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

// other styles ----------------------

.signin-background {
  background: url(http://cdn.deccanchronicle.com/sites/default/files/mediaimages/gallery/2015/Sep/taare%20zameen%20par.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.box {
  border: 1px $grey400 solid;
}

.heading {
  margin-top: 0px;
  margin-bottom: 12px;
}

.trunkate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.trunkate-line {
  text-overflow: ellipsis;
}

.container {
  margin: 80px 20px 20px 20px;
  padding: 0px;
}

.fixed {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.title {
  margin-top: 0px;
}

.title-under {
  margin-top: -15px;
  margin-bottom: 40px;
  font-style: italic;
  color: $grey400;
  span {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px $grey400 solid;
  }
  span:last-of-type {
    border-right: none;
  }
  span:first-child {
    padding-left: 0px;
  }
}

.link {
  color: $grey400;
  font-size: 1em;
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grey {
  color: $grey400;
}

.resource-title {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.870588);
  display: block;
  line-height: 36px;
  margin-bottom: 15px;
}
.resource-url {
  margin-top: -15px;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 0.9em;
  color: $grey400;
  a:hover {
    text-decoration: underline;
  }
}
